<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/output.css" />
  <title>403</title>
</head>
<body>
  <header>
    <h1 class="text-red-500 font-bold text-3xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 shadow-2xl rounded-4xl p-10 ">403 Forbidden</h1>
  </header>
</body>
</html>